<div th:fragment="checklist-details" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="mb-3">
        <div class="form-label">Description</div>
        <div class="form-control bg-light" style="min-height:37px;" th:text="${entry.description}"></div>
    </div>
    <div class="mb-3">
        <div class="form-label">Items</div>
        <ul class="list-group">
            <li class="list-group-item" th:each="item: ${entry.items}">
                <span th:text="${item.description}"></span>
            </li>
        </ul>
    </div>
</div>