<div th:fragment="ticket-details(delete)" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="mb-3">
        <div class="form-label">Title</div>
        <div class="form-control bg-light" style="min-height:37px;" th:text="${entry.title}"></div>
    </div>
    <div class="mb-3">
        <div class="form-label">Description</div>
        <div class="form-control bg-light" style="min-height:37px;" th:text="${entry.description}"></div>
    </div>
    <div class="mb-3">
        <div class="form-label">Assigned Learner</div>
        <div class="form-control bg-light" >
            <span th:unless="${entry.assignedUser == null}" th:text="${entry.assignedUser.fullName}"></span>
            <span th:if="${entry.assignedUser == null}">None</span>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-label">Client</div>
        <div class="form-control bg-light" >
            <span th:unless="${entry.client == null}" th:text="${entry.client.name}"></span>
            <span th:if="${entry.client == null}">None</span>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-label">Status</div>
        <div class="form-control bg-light" >
            <span th:unless="${entry.status == null}" th:text="${entry.status.description}"></span>
            <span th:if="${entry.status == null}">None</span>
        </div>
    </div>

    <div th:if="${delete == 'true' || authUser.role.description == 'ADMIN' || status != 'In Progress'}">
        <div class="mb-3">
            <div class="form-label">Protocol</div>
            <div class="form-control bg-light" style="min-height:37px;" th:text="${entry.protocol}"></div>
        </div>
        <div class="mb-3">
            <div class="form-label">Solution</div>
            <div class="form-control bg-light" style="min-height:37px;" th:text="${entry.solution}"></div>
        </div>
        <div class="mb-3">
            <div class="form-label">Work Time</div>
            <div class="form-control bg-light" style="min-height:37px;" th:text="${entry.worktime}"></div>
        </div>
        <div class="mb-3">
            <label class="form-label">Checklist</label>
            <ul class="list-group">
                <li class="list-group-item bg-light" th:each="item: ${entry.checklist}" th:styleappend="${item.getStyle()}">
                    <img th:src="@{/img/} + (${item.completed} ? 'check.svg' : 'cross.svg')" alt="item-status"/>
                    <span th:text="${item.description}"></span>
                </li>
            </ul>
        </div>
    </div>

    <form sec:authorize="hasRole('ROLE_LEARNER')" th:if="${delete == 'false' && status == 'In Progress'}"
          th:action="@{details/update(id=${entry.id})}" th:object="${entry}" method="post">
        <input type="hidden" th:name="status" th:value="${status}">
        <input type="hidden" th:name="referer" th:value="${referer}">
        <div class="mb-3">
            <div class="form-label" th:for="protocol">Protocol</div>
            <textarea class="form-control mb-2 resizer" th:field="*{protocol}"></textarea>
            <div th:replace="~{fragments/forms/error-alert :: error-alert('protocol')}"></div>
        </div>
        <div class="mb-3">
            <div class="form-label" th:for="solution">Solution</div>
            <textarea class="form-control resizer" th:field="*{solution}"></textarea>
            <div th:replace="~{fragments/forms/error-alert :: error-alert('solution')}"></div>
        </div>
        <div class="mb-3">
            <label class="form-label mb-0">Work Time</label>
            <div class="d-flex gap-2">
                <div>
                    <label style="font-size:13px;" th:for="workHours">Hours</label>
                    <input class="form-control" type="number" min="0" max="99" th:field="*{workHours}">
                    <div th:replace="~{fragments/forms/error-alert :: error-alert('workHours')}"></div>
                </div>
                <div>
                    <label style="font-size:13px;" th:for="workMinutes">Minutes</label>
                    <input class="form-control" type="number" min="0" max="59" th:field="*{workMinutes}">
                    <div th:replace="~{fragments/forms/error-alert :: error-alert('workMinutes')}"></div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label>Checklist</label>
            <div class="border rounded">
                <label class="d-flex gap-2 border-bottom p-2" style="cursor:pointer;" th:each="item: ${entry.checklist}" th:for="${item.id}" >
                    <input class="form-check-input" th:id="${item.id}"
                           type="checkbox"
                           th:name="checklistItems"
                           th:value="${item.id}"
                           th:checked="${item.completed}"/>
                    <span th:text="${item.description}"></span>
                </label>
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <div>
                <button class="btn btn-primary btn-sm" name="action" value="update">Update</button>
                <button class="btn btn-primary btn-sm" name="action" value="exit">Update and exit</button>
            </div>
            <button class="btn btn-success btn-sm float-end" name="action" value="complete">Mark as complete</button>
        </div>
    </form>
</div>