<div th:fragment="user-details" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="mb-3">
        <div class="form-label">Firstname</div>
        <div class="form-control bg-light" style="min-height:37px;" th:text="${entry.firstname}"></div>
    </div>
    <div class="mb-3">
        <div class="form-label">Lastname</div>
        <div class="form-control bg-light" style="min-height:37px;" th:text="${entry.lastname}"></div>
    </div>
    <div class="mb-3">
        <div class="form-label">Email</div>
        <a th:replace="~{fragments/details/link-field :: link-field('mailto:' + ${entry.email}, ${entry.email})}"></a>
    </div>
    <div class="mb-3">
        <div class="form-label">Role</div>
        <div class="form-control bg-light" >
            <span th:unless="${entry.role.description == null}" th:text="${entry.role.description}"></span>
            <span th:if="${entry.role.description == null}">None</span>
        </div>
    </div>

    <div th:replace="~{fragments/details/related-tickets :: related-tickets('Assigned Tickets', ${tickets}, ${closedCount})}"></div>
</div>