<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" th:with="title='Create Ticket'">
<body>
<section layout:fragment="content">
    <div class="form-wrapper">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <span></span>
            <h5>New Ticket</h5>
            <a class="btn btn-sm btn-secondary" th:href="@{/tickets}">Back</a>
        </div>
        <form th:action="@{create}" th:object="${entry}" method="post">
            <div th:replace="~{fragments/forms/ticket-form :: ticket-form('create')}"></div>
            <button type="submit" class="btn btn-primary float-end">Submit</button>
        </form>
    </div>
</section>
</body>
</html>