<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" th:with="title='Ticket Details'">
<body>
<section layout:fragment="content">
    <div class="form-wrapper">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <span></span>
            <h5>Ticket Details</h5>
            <a class="btn btn-sm btn-secondary" th:if="${authUser.isAdmin}" th:onclick="history.back()">Back</a>
            <a class="btn btn-sm btn-secondary" th:if="${!authUser.isAdmin}" th:href="@{/}">Back</a>
        </div>
        <div th:replace="~{fragments/details/ticket-details :: ticket-details('false')}"></div>
        <form th:if="${authUser.isAdmin && entry.status.description == 'Completed'}"
              th:action="@{/tickets/status(id=${entry.id})}"  method="post" class="text-end">
            <input type="hidden" name="referer" th:value="${referer}">
            <button class="btn btn-success" name="action" value="close">Mark as closed</button>
            <button class="btn btn-danger" name="action" value="reopen">Reopen</button>
        </form>
        <form th:if="${!authUser.isAdmin && entry.status.description == 'Completed'}"
              th:action="@{/tickets/details/reopen(id=${entry.id})}"  method="post" class="text-end">
            <button class="btn btn-warning">Reopen</button>
        </form>
    </div>
</section>
</body>
</html>