<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head('Ticket Details')}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="container">
    <div class="form-wrapper">
        <div class="d-flex justify-content-between align-items-center my-4">
            <span></span>
            <h3>Ticket Details</h3>
            <a class="btn btn-sm btn-secondary" th:onclick="history.back()">Back</a>
        </div>
        <div th:replace="~{fragments/details/ticket-details :: ticket-details('false')}"></div>
        <form th:if="${authUser.role.description == 'ADMIN' && entry.status.description == 'Completed'}"
              th:action="@{/tickets/status(id=${entry.id})}"  method="post" class="text-end">
            <input type="hidden" name="referer" th:value="${referer}">
            <button class="btn btn-success" name="action" value="close">Mark as closed</button>
            <button class="btn btn-danger" name="action" value="reopen">Reopen</button>
        </form>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>