<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" th:with="title='Edit Ticket'">
<body>
<section layout:fragment="content">
    <div class="form-wrapper">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <span></span>
            <h5>Edit Ticket</h5>
            <div th:replace="~{fragments/forms/return-form :: return-form}"></div>
        </div>
        <form th:action="@{edit(id=${entry.id})}" th:object="${entry}" method="post">
            <div th:replace="~{fragments/forms/ticket-form :: ticket-form('edit')}"></div>
            <button type="submit" class="btn btn-primary float-end">Submit</button>
        </form>
    </div>
</section>
</body>
</html>