<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" th:with="title='Tickets'">
<body>
<section layout:fragment="content">
    <h5 class="mb-2">Tickets</h5>
    <div th:if="${authUser.role.description == 'ADMIN'}">
        <a class="btn btn-sm btn-success" th:href="@{/tickets/create}">New Ticket</a>
    </div>

    <form class="row row-cols-lg-auto g-1 align-items-center my-4" th:object="${filter}" th:action="@{tickets}" method="get">
        <div th:replace="~{fragments/forms/filter-fields :: filter-fields}"></div>
        <div class="col" style="min-width:200px;">
            <select class="form-select" th:field="*{clientId}">
                <option value="">All Clients</option>
                <option th:each="client: ${clients}" th:value="${client.id}" th:text="${client.name}"></option>
            </select>
        </div>
        <div class="col" style="min-width:200px;">
            <select class="form-select" th:field="*{statusId}">
                <option value="">Any Status</option>
                <option th:each="status: ${statuses}" th:value="${status.id}" th:text="${status.description}"></option>
            </select>
        </div>
        <div class="col-2">
            <button class="btn btn-sm btn-primary" type="submit">
                <img th:src="@{/img/search.svg}" style="filter:invert(1)" alt="search.svg" title="Search"/>
            </button>
        </div>
    </form>

    <table class="table responsive my-4">
        <tr>
            <th th:replace="~{fragments/table-header :: table-header('tickets', 'title', 'Title')}"></th>
            <th style="width:400px;">Description</th>
            <th th:replace="~{fragments/table-header :: table-header('tickets', 'workHours,workMinutes', 'Work Time')}"></th>
            <div th:if="${authUser.role.description == 'ADMIN'}">
                <th th:replace="~{fragments/table-header :: table-header('tickets', 'assignedUser.firstname,assignedUser.lastname', 'Assigned Learner')}"></th>
            </div>
            <th th:replace="~{fragments/table-header :: table-header('tickets', 'client.name', 'Client')}"></th>
            <th th:replace="~{fragments/table-header :: table-header('tickets', 'status.description', 'Status')}"></th>
            <th style="min-width:140px;"></th>
        </tr>
        <tr th:each="entry: ${entries}">
            <td id="title" th:text="${entry.title}"></td>
            <td id="description" th:text="${#strings.abbreviate(entry.description, 100)}"></td>
            <td id="worktime" th:text="${entry.worktime}"></td>
            <div th:if="${authUser.role.description == 'ADMIN'}">
                <td th:if="${entry.assignedUser == null}">No assigned learner</td>
                <td id="user" th:unless="${entry.assignedUser == null}" th:text="${entry.assignedUser.fullName}"></td>
            </div>
            <td id="client" th:unless="${entry.client == null}" th:text="${entry.client.name}"></td>
            <td th:if="${entry.client == null}">No client</td>
            <td id="status" th:unless="${entry.status == null}" th:text="${entry.status.description}"></td>
            <td th:if="${entry.status == null}">No status</td>
            <td>
                <div class="table-links d-flex flex-wrap justify-content-end gap-1">
                    <a class="btn btn-sm btn-primary" th:href="@{/tickets/details(id=${entry.id})}">
                        <img th:src="@{/img/view.svg}" style="filter:invert(1)" alt="view.svg" title="View"/>
                    </a>
                    <div th:if="${authUser.role.description == 'ADMIN'}" class="d-flex flex-wrap justify-content-end gap-1">
                        <a class="btn btn-sm btn-warning" th:href="@{/tickets/edit(id=${entry.id})}">
                            <img th:src="@{/img/edit.svg}" alt="edit.svg" title="Edit"/>
                        </a>
                        <a class="btn btn-sm btn-danger" th:href="@{/tickets/delete(id=${entry.id})}">
                            <img th:src="@{/img/trash.svg}" style="filter:invert(1)" alt="trash.svg" title="Delete"/>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</section>
</body>
<style layout:fragment="styles" media="screen and (max-width: 720px)">
    #title {
        font-weight: bold;
        font-size: large;
        text-align: center;
    }
    #worktime::before {
        content: "\AWork Time: ";
        white-space: pre;
    }
    #user::before {
        content: "Learner: ";
    }
    #client::before {
        content: "Client: ";
    }
    #status::before {
        content: "Status: ";
    }
</style>
</html>