<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head('Tickets')}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="container">
    <h3 class="text-center my-4">Tickets</h3>
    <div th:if="${authUser.role.description == 'ADMIN'}">
        <a class="btn btn-sm btn-success" th:href="@{/tickets/create}">New Ticket</a>
    </div>
    <table class="table my-4">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Work Time</th>
            <div th:if="${authUser.role.description == 'ADMIN'}">
                <th>Assigned Learner</th>
            </div>
            <th>Client</th>
            <th>Status</th>
            <th></th>
        </tr>
        <tr th:each="entry: ${entries}">
            <td th:text="${entry.title}"></td>
            <td th:text="${entry.description}"></td>
            <td th:text="${entry.worktime}"></td>
            <div th:if="${authUser.role.description == 'ADMIN'}">
                <td th:text="${entry.assignedUser.fullName}"></td>
            </div>
            <td th:text="${entry.client.name}"></td>
            <td th:text="${entry.status.description}"></td>
            <td class="text-end pb-2">
                <a class="btn btn-sm btn-primary" th:href="@{/tickets(id=${entry.id})}">View</a>
                <div th:if="${authUser.role.description == 'ADMIN'}">
                    <a class="btn btn-sm btn-warning" th:href="@{/tickets/edit(id=${entry.id})}">Edit</a>
                    <a class="btn btn-sm btn-danger" th:href="@{/tickets/delete(id=${entry.id})}">Delete</a>
                </div>
            </td>
        </tr>
    </table>
</main>
</body>
</html>