<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head('Tickets')}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="container">
    <h3 class="text-center my-4">Tickets</h3>
    <div th:if="${authUser.role.description == 'ADMIN'}">
        <a class="btn btn-sm btn-success" th:href="@{/tickets/create}">New Ticket</a>
    </div>

    <form class="my-4" th:object="${filter}" th:action="@{tickets}" method="get">
        <div class="row align-items-center gap-1">
            <div th:replace="~{fragments/forms/filter-fields :: filter-fields}"></div>
            <div class="col" style="min-width:200px;">
                <select class="form-select" th:field="*{clientId}">
                    <option value="">All Clients</option>
                    <option th:each="client: ${clients}" th:value="${client.id}" th:text="${client.name}"></option>
                </select>
            </div>
            <div class="col" style="min-width:200px;">
                <select class="form-select" th:field="*{statusId}">
                    <option value="">Any Status</option>
                    <option th:each="status: ${statuses}" th:value="${status.id}" th:text="${status.description}"></option>
                </select>
            </div>
            <div class="col">
                <button class="btn btn-sm btn-primary" type="submit">Go</button>
            </div>
        </div>
    </form>

    <table class="table responsive my-4">
        <tr>
            <th th:replace="~{fragments/table-header :: table-header('tickets', 'title', 'Title')}"></th>
            <th style="width:400px;">Description</th>
            <th th:replace="~{fragments/table-header :: table-header('tickets', 'workHours,workMinutes', 'Work Time')}"></th>
            <div th:if="${authUser.role.description == 'ADMIN'}">
                <th th:replace="~{fragments/table-header :: table-header('tickets', 'assignedUser.firstname,assignedUser.lastname', 'Assigned Learner')}"></th>
            </div>
            <th th:replace="~{fragments/table-header :: table-header('tickets', 'client.name', 'Client')}"></th>
            <th th:replace="~{fragments/table-header :: table-header('tickets', 'status.description', 'Status')}"></th>
            <th></th>
        </tr>
        <tr th:each="entry: ${entries}">
            <td id="title" th:text="${entry.title}"></td>
            <td id="description" th:text="${#strings.abbreviate(entry.description, 100)}"></td>
            <td id="worktime" th:text="${entry.worktime}"></td>
            <div th:if="${authUser.role.description == 'ADMIN'}">
                <td th:if="${entry.assignedUser == null}">No Role</td>
                <td id="user" th:unless="${entry.assignedUser == null}" th:text="${entry.assignedUser.fullName}"></td>
            </div>
            <td id="client" th:text="${entry.client.name}"></td>
            <td id="status" th:unless="${entry.status == null}" th:text="${entry.status.description}"></td>
            <td th:if="${entry.status == null}">No Status</td>
            <td>
                <div class="table-links d-flex flex-wrap justify-content-end gap-1">
                    <a class="btn btn-sm btn-primary" th:href="@{/tickets(id=${entry.id})}">View</a>
                    <div th:if="${authUser.role.description == 'ADMIN'}" class="d-flex flex-wrap justify-content-end gap-1">
                        <a class="btn btn-sm btn-warning" th:href="@{/tickets/edit(id=${entry.id})}">Edit</a>
                        <a class="btn btn-sm btn-danger" th:href="@{/tickets/delete(id=${entry.id})}">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <div th:replace="~{fragments/pagination :: pagination(tickets)}"></div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

<style media="screen and (max-width: 720px)">
    #title {
        font-weight: bold;
        font-size: large;
        text-align: center;
    }

    #worktime::before {
        content: "\AWork Time: ";
        white-space: pre;
    }

    #user::before {
        content: "Learner: ";
    }

    #client::before {
        content: "Client: ";
    }

    #status::before {
        content: "Status: ";
    }
</style>
</html>