<footer th:fragment="footer" class="border-top" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container d-flex flex-wrap align-items-center my-3 gap-3" style="justify-content:space-between;">
        <p class="col-md-5 mb-0 text-muted">&copy; 2024 Kauz Informatik Medien AG</p>

        <a class="navbar-brand" th:href="@{/}">TICKETRAPPORT</a>

        <ul class="nav col-md-5" style="justify-content:flex-end"  th:if="${authUser.role.description == 'ADMIN'}">
            <li class="nav-item">
                <a class="nav-link px-2 text-muted" href="/tickets">Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-muted" href="/clients">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-muted" href="/templates">Templates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-muted" href="/users">Users</a>
            </li>
        </ul>
    </div>
</footer>