<nav th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" class="navbar navbar-expand-lg border-bottom">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/logo.png}" style="max-width:38px" alt="logo.png" title="Ticket Rapport Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="me-auto mb-2 mb-lg-0">
                <ul th:replace="~{fragments/menu :: menu('navbar-nav')}"></ul>
            </div>

            <div class="d-flex flex-column gap-1">
                <a th:if="${authUser == null}" th:href="@{/login}" th:text="#{login}"></a>

                <div th:unless="${authUser == null}" class="d-flex flex-wrap gap-2 justify-content-between">
                    <div th:text="${authUser.email}"></div>
                    <a class="text-decoration-none" th:href="@{/logout}" th:text="#{logout}"></a>
                </div>

                <div class="nav-item dropstart" style="align-self:flex-end">
                    <a class="nav-link px-2 text-muted" style="cursor:pointer;" data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="@{/img/world.svg}" alt="world.svg" Title="Language"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" style="cursor:pointer;" id="en" th:text="#{lang.eng}" onclick="change_lang('en')"></a>
                        </li>
                        <li>
                            <a class="dropdown-item" style="cursor:pointer;" id="fr" th:text="#{lang.de}" onclick="change_lang('de')"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>