<nav th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" class="navbar navbar-expand-lg border-bottom"
     xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/logo.png}" style="max-width:38px" alt="logo.png" title="Ticket Rapport Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="me-auto mb-2 mb-lg-0">
                <ul th:replace="~{fragments/menu :: menu('navbar-nav')}"></ul>
            </div>

            <div class="d-flex align-items-center gap-2">
                <a class="btn btn-sm btn-outline-dark" sec:authorize="!isAuthenticated()" th:href="@{/login}" th:text="#{login}"></a>

                <div sec:authorize="isAuthenticated()" th:text="${authUser.fullName}" class="fw-bold"></div>
                <form sec:authorize="isAuthenticated()" class="form" th:action="@{/logout}" method="post">
                    <button class="btn btn-sm btn-outline-dark" th:href="@{/logout}" th:text="#{logout}"></button>
                </form>


                <div class="nav-item dropstart">
                    <a id="world-btn" class="btn btn-sm btn-outline-dark" style="padding-top:3px;"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="@{/img/world.svg}" alt="world.svg" Title="Language"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" style="cursor:pointer;" id="en" th:text="#{lang.eng}" onclick="change_lang('en')"></a>
                        </li>
                        <li>
                            <a class="dropdown-item" style="cursor:pointer;" id="fr" th:text="#{lang.de}" onclick="change_lang('de')"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <style>
        #world-btn:hover img,  #world-btn:active img {
            filter: invert(1) !important;
        }
    </style>
    <script th:inline="javascript">
        function change_lang(lang) {
            window.location.replace('?lang=' + lang);
        }
    </script>
</nav>