<head th:fragment="head(title)" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="'Ticket Report - ' + ${title}"></title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <script th:src="@{/js/popper.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>