<span th:fragment="locale-menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="nav-item dropstart">
        <a id="world-btn" class="btn btn-sm btn-outline-dark" style="padding-top:3px;"
           data-bs-toggle="dropdown" aria-expanded="false">
            <img th:src="@{/img/world.svg}" alt="world.svg" Title="Language"/>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" style="cursor:pointer;" id="en" th:text="#{lang.eng}" onclick="change_lang('en')"></a>
            </li>
            <li>
                <a class="dropdown-item" style="cursor:pointer;" id="fr" th:text="#{lang.de}" onclick="change_lang('de')"></a>
            </li>
        </ul>
    </div>
    <style>
        #world-btn:hover img,  #world-btn:active img {
            filter: invert(1) !important;
        }
    </style>
    <script th:inline="javascript">
        function change_lang(lang) {
            window.location.replace('?lang=' + lang);
        }
    </script>
</span>
