<span th:fragment="locale-menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="nav-item dropstart">
        <a class="btn btn-sm btn-outline-dark invertible" style="padding-top:3px;"
           data-bs-toggle="dropdown" aria-expanded="false">
            <img th:src="@{/img/world.svg}" alt="world.svg" Title="Language"/>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" style="cursor:pointer;" id="en" th:text="#{lang.eng}" onclick="update_lang('en')"></a>
            </li>
            <li>
                <a class="dropdown-item" style="cursor:pointer;" id="fr" th:text="#{lang.de}" onclick="update_lang('de')"></a>
            </li>
        </ul>
    </div>
</span>
