<ul th:fragment="menu(class)"
    th:classappend="${class}"
    sec:authorize="hasRole('ROLE_ADMIN')"
    xmlns:th="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.w3.org/1999/xhtml">

    <li class="nav-item">
        <a class="nav-link text-muted" th:href="@{/}" th:text="#{home}"></a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-muted" th:href="@{/archive}" th:text="#{archive}"></a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link text-muted dropdown-toggle" style="cursor:pointer;" data-bs-toggle="dropdown" aria-expanded="false">
            Administration
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" th:href="@{/tickets}" th:text="#{tickets}"></a>
            </li>
            <li>
                <a class="dropdown-item" th:href="@{/clients}" th:text="#{clients}"></a>
            </li>
            <li>
                <a class="dropdown-item" th:href="@{/checklists}" th:text="#{checklist.templates}"></a>
            </li>
            <li>
                <a class="dropdown-item" th:href="@{/users}" th:text="#{users}"></a>
            </li>
        </ul>
    </li>
</ul>