<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" th:with="title='Create User'">
<body>
<section layout:fragment="content">
    <div class="form-wrapper">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <span></span>
            <h5>New User</h5>
            <div th:replace="~{fragments/forms/return-form :: return-form}"></div>
        </div>
        <form th:action="@{create}" th:object="${entry}" method="post">
            <div th:replace="~{fragments/forms/user-form :: user-form(false)}"></div>
            <div class="mb-3">
                <label class="form-label" th:for="*{password}">* Password</label>
                <input class="form-control" type="password" th:field="*{password}">
                <div th:replace="~{fragments/forms/error-alert :: error-alert('password')}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label" th:for="*{confirmPassword}">* Confirm Password</label>
                <input class="form-control" type="password" th:field="*{confirmPassword}">
                <div class="alert alert-warning mt-1" th:if="${#fields.hasErrors('confirmPassword') || passError != null}">
                    <div th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></div>
                    <div th:if="${passError != null}" th:text="${passError}"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-end">Submit</button>
        </form>
    </div>
</section>
</body>
</html>