<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout(title='Benutzer Löschung')}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <th:block th:replace="~{fragments/layout-elements :: heading(title='Benutzer löschen', backBtn=true)}"></th:block>
    <table class="table table-hover table-bordered table-details table-light">
        <tr th:replace="~{fragments/table-elements :: details-row('Name', ${entry.fullName})}"></tr>
        <tr th:replace="~{fragments/table-elements :: details-row(header='Email', content=${entry.email}, url='mailto:__${email}__')}"></tr>
        <tr th:replace="~{fragments/table-elements :: details-row('Rolle', ${entry.role == null ? 'keine' : entry.role.description})}"></tr>
    </table>

    <th:block th:unless="${entry.isAdmin()}">
        <th:block th:replace="~{fragments/content-elements :: related-tickets(open=${openTickets}, closed=${closedTickets}, showClient=true)}"></th:block>
    </th:block>

    <form th:object="${entry}" th:action="@{delete(id=*{id})}" method="post">
        <input type="hidden" name="redirectValue" th:value="${redirectValue}">
        <div th:replace="~{fragments/form-elements :: button-delete}"></div>
    </form>
</div>
</body>
</html>