<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" th:with="title='Delete User'">
<body>
<section layout:fragment="content">
    <div class="form-wrapper">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <span></span>
            <h5>Delete User</h5>
            <div th:replace="~{fragments/forms/return-form :: return-form}"></div>
        </div>

        <div th:replace="~{fragments/details/user-details :: user-details}"></div>

        <form th:action="@{delete(id=${entry.id})}" method="post">
            <input type="hidden" th:value="${referer}" th:name="referer">
            <div class="text-end">
                <button class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>