<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head('User Details')}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="container">
    <div class="form-wrapper">
        <div class="d-flex justify-content-between align-items-center my-4">
            <span></span>
            <h3>User Details</h3>
            <a class="btn btn-sm btn-secondary" th:href="@{/users}">Back</a>
        </div>

        <div th:replace="~{fragments/details/user-details :: user-details}"></div>
    </div>
</main>
</body>
</html>