<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout(title='Benutzer Details')}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <th:block th:replace="~{fragments/layout-elements :: heading(title='Benutzer Details', backBtn=true, edit=true, editUrl='/users/edit(id=${entry.id}, referer=details)')}"></th:block>
    <table class="table table-hover table-bordered table-details table-light" th:object="${entry}">
        <tr th:replace="~{fragments/table-elements :: details-row('Name', *{fullName})}"></tr>
        <tr th:replace="~{fragments/table-elements :: details-row(header='Email', content=*{email}, url='mailto:__*{email}__')}"></tr>
        <tr th:replace="~{fragments/table-elements :: details-row('Rolle', *{role == null ? 'keine' : role.description})}"></tr>
    </table>

    <th:block th:unless="${entry.isAdmin()}">
        <th:block th:replace="~{fragments/content-elements :: related-tickets(open=${openTickets}, closed=${closedTickets}, showClient=true, link=true)}"></th:block>
    </th:block>
</div>
</body>
</html>