<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout(title='Benutzer Bearbeitung')}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
  <th:block th:replace="~{fragments/layout-elements :: heading(title='Benutzer bearbeiten', backBtn=true, del=true, delUrl='/users/delete(id=${entry.id}, returnValue=${returnValue}, referer=${referer} ?: edit)')}"></th:block>

  <div class="form-wrapper">
    <form th:object="${entry}" th:action="@{edit(id=*{id}, referer=${referer}, returnValue=${returnValue + 1})}" method="post">
      <div th:replace="~{fragments/form-elements :: input-field(field=firstname, label='* Vorname', maxLength=50, required=true)}"></div>
      <div th:replace="~{fragments/form-elements :: input-field(field=lastname, label='* Nachname', maxLength=50, required=true)}"></div>
      <div th:replace="~{fragments/form-elements :: input-field(field=email, label='* Email', maxLength=50, required=true)}"></div>
      <div th:replace="~{fragments/form-elements :: input-field(field='role.id', label='* Rolle', tag=select, options=${roles}, defaultOption='Rolle Auswählen', optionValue=id, optionText=description, required=true, errorField='role')}"></div>
      <div class="alert alert-info d-flex justify-content-between">
        <span>Rollenänderungen werden beim erneuten Anmelden angewendet</span>
        <span class="text-info">
          <svg th:replace="~{fragments/vectors :: info}"></svg>
        </span>
      </div>
      <div th:replace="~{fragments/form-elements :: button-submit}"></div>
    </form>
  </div>
</div>
</body>
</html>