<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head('Users')}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="container">
    <h3 class="text-center my-4">Users</h3>
    <a class="btn btn-sm btn-success" th:href="@{/users/create}">New User</a>
    <table class="table my-4">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </tr>
        <tr th:each="entry: ${entries}">
            <td th:text="${entry.firstname}"></td>
            <td th:text="${entry.lastname}"></td>
            <td th:text="${entry.email}"></td>
            <td th:text="${entry.role.description}"></td>
            <td class="text-end pb-2">
                <a class="btn btn-sm btn-primary" th:href="@{/users(id=${entry.id})}">View</a>
                <a class="btn btn-sm btn-warning" th:href="@{/users/edit(id=${entry.id})}">Edit</a>
                <a class="btn btn-sm btn-danger" th:href="@{/users/delete(id=${entry.id})}">Delete</a>
            </td>
        </tr>
    </table>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>