<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head('Users')}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="container">
    <h3 class="text-center my-4">Users</h3>
    <a class="btn btn-sm btn-success" th:href="@{/users/create}">New User</a>

    <form class="my-4" th:object="${filter}" th:action="@{/users}" method="get">
        <div class="row align-items-center gap-1">
            <div th:replace="~{fragments/forms/filter-fields :: filter-fields}"></div>
            <div class="col" style="min-width:200px;">
                <select class="form-select" th:field="*{roleId}">
                    <option value="">All Roles</option>
                    <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.description}"></option>
                </select>
            </div>
            <div class="col">
                <button class="btn btn-sm btn-primary" type="submit">Go</button>
            </div>
        </div>
    </form>

    <table class="table responsive my-4">
        <tr>
            <th th:replace="~{fragments/table-header :: table-header('users', 'firstname,lastname', 'Firstname')}"></th>
            <th th:replace="~{fragments/table-header :: table-header('users', 'lastname,firstname', 'Lastname')}"></th>
            <th th:replace="~{fragments/table-header :: table-header('users', 'email', 'Email')}"></th>
            <th th:replace="~{fragments/table-header :: table-header('users', 'role', 'Role')}"></th>
            <th></th>
        </tr>
        <tr th:each="entry: ${entries}">
            <td id="firstname" th:text="${entry.firstname}"></td>
            <td id="lastname" th:text="${entry.lastname}"></td>
            <td id="fullname" class="d-none" th:text="${entry.fullName}"></td>
            <td id="email" th:text="${entry.email}"></td>
            <td id="role" th:text="${entry.role.description}"></td>
            <td>
                <div class="table-links d-flex flex-wrap justify-content-end gap-1">
                    <a class="btn btn-sm btn-primary" th:href="@{/users(id=${entry.id})}">View</a>
                    <a class="btn btn-sm btn-warning" th:href="@{/users/edit(id=${entry.id})}">Edit</a>
                    <a class="btn btn-sm btn-danger" th:href="@{/users/delete(id=${entry.id})}">Delete</a>
                </div>
            </td>
        </tr>
    </table>

    <div th:replace="~{fragments/pagination :: pagination(users)}"></div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

<style media="screen and (max-width: 720px)">
    #firstname {
       display:none;
    }

    #lastname {
        display:none
    }

    #fullname {
        display:block !important;
        font-weight: bold;
        font-size: large;
        text-align: center;
    }

    #email::before {
        content: "Email: ";
    }

    #role::before {
        content: "Role: ";
    }
</style>
</html>