<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" th:with="title='Users', controller='users'">
<body>
<section layout:fragment="content">
    <h5 class="mb-2">Users</h5>
    <a class="btn btn-sm btn-success" th:href="@{/users/create}">New User</a>

    <form class="row row-cols-lg-auto g-1 align-items-center my-4" th:object="${filter}" th:action="@{/users}" method="get">
        <div th:replace="~{fragments/forms/filter-fields :: filter-fields}"></div>
        <div class="col ps-0">
            <input class="form-control" style="min-width:200px;" th:field="*{search}" placeholder="Search">
        </div>
        <div class="d-flex">
            <select class="form-select input-flush" style="min-width:200px;" th:field="*{roleId}">
                <option value="">All Roles</option>
                <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.description}"></option>
            </select>
            <button class="btn btn-sm btn-primary button-flush" type="submit">
                <img th:src="@{/img/search.svg}" style="filter:invert(1)" alt="search.svg" title="Search"/>
            </button>
        </div>
    </form>

    <table class="table responsive my-4">
        <tr>
            <th th:replace="~{fragments/table-header :: table-header('users', 'firstname,lastname', 'Firstname')}"></th>
            <th th:replace="~{fragments/table-header :: table-header('users', 'lastname,firstname', 'Lastname')}"></th>
            <th th:replace="~{fragments/table-header :: table-header('users', 'email', 'Email')}"></th>
            <th th:replace="~{fragments/table-header :: table-header('users', 'role', 'Role')}"></th>
            <th style="min-width:140px;"></th>
        </tr>
        <tr th:each="entry: ${entries}">
            <td id="firstname" th:text="${entry.firstname}"></td>
            <td id="lastname" th:text="${entry.lastname}"></td>
            <td id="fullname" class="d-none" th:text="${entry.fullName}"></td>
            <td id="email" th:text="${entry.email}"></td>
            <td id="role" th:text="${entry.role.description}"></td>
            <td>
                <div th:replace="~{fragments/table-buttons :: table-buttons(users)}"></div>
            </td>
        </tr>
    </table>
</section>
</body>
<style layout:fragment="styles" media="screen and (max-width: 720px)">
    #firstname {
       display:none;
    }
    #lastname {
        display:none
    }
    #fullname {
        display:block !important;
        font-weight: bold;
        font-size: large;
        text-align: center;
    }
    #email::before {
        content: "Email: ";
    }
    #role::before {
        content: "Role: ";
    }
</style>
</html>