body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 20px 0;
}

footer {
    margin-top: auto;
}

.form-wrapper {
    width: 75%;
    margin: auto;
}

/* Tablet */
@media only screen and (max-width: 1024px) {

}

/* Mobile */
@media only screen and (max-width: 720px) {
    .form-wrapper {
        width: 100%;
    }
}