body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 20px 0 40px 0;
}

textarea {
    resize: none;
}

#world-btn:hover img {
    filter: invert(1);
}

.divider {
    margin-top: auto;
}

.form-wrapper {
    width: 75%;
    margin: auto;
}

.input-flush {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-flush {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Tablet */
@media only screen and (max-width: 1024px) {
    .form-wrapper {
        width: 100%;
    }
}

/* Mobile */
@media only screen and (max-width: 720px) {
    table.responsive,
    table.responsive tbody,
    table.responsive tr,
    table.responsive td {
        display: block;
        border: none;
    }

    table.responsive td {
        padding-top: 1px;
        padding-bottom: 1px;
        background: transparent;
    }

    table.responsive th {
     display: none;
    }

    table.responsive tr {
        margin-bottom: 20px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }

    table.responsive tr.table-head {
        border:none;
    }

    footer div {
        flex-direction:column;
    }

    footer ul {
        justify-content: center!important;
    }

    footer p {
        text-align: center!important;
    }

    .table-links {
        margin-top: 20px;
        margin-bottom: 7px;
        justify-content: center !important;
    }

    .card {
        width: 100% !important;
    }
}