<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout(title='Kunde Details')}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <th:block th:replace="~{fragments/layout-elements :: heading(title='Kunde Details', backBtn=true, edit=true, editUrl='/clients/edit(id=${entry.id}, referer=details)')}"></th:block>

    <table class="table table-hover table-bordered table-details table-light">
        <tr th:replace="~{fragments/table-elements :: details-row('Name', ${entry.name})}"></tr>
    </table>

    <th:block th:replace="~{fragments/content-elements :: related-tickets(open=${openTickets}, closed=${closedTickets}, showUser=true, link=true)}"></th:block>
</div>
</body>
</html>