<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" th:with="title='Client Details'">
<body>
<section layout:fragment="content">
    <div class="form-wrapper">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <span></span>
            <h5>Client Details</h5>
            <a class="btn btn-sm btn-secondary" onclick="history.back()">Back</a>
        </div>

        <div th:replace="~{fragments/details/client-details :: client-details}"></div>
    </div>
</section>
</body>
</html>