<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout(title='Kunde Bearbeitung')}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <th:block th:replace="~{fragments/layout-elements :: heading(title='Kunde bearbeiten', backBtn=true, del=true, delUrl='/clients/delete(id=${entry.id}, returnValue=${returnValue}, referer=${referer} ?: edit)')}"></th:block>

    <div class="form-wrapper">
        <form th:object="${entry}" th:action="@{edit(id=*{id}, referer=${referer}, returnValue=${returnValue + 1})}" method="post">
            <div th:replace="~{fragments/form-elements :: input-field(field=name, label='* Name', maxLength=50, required=true)}"></div>
            <div th:replace="~{fragments/form-elements :: button-submit}"></div>
        </form>
    </div>
</div>
</body>
</html>