<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head('Edit Client')}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="container">
    <div class="form-wrapper">
        <div class="d-flex justify-content-between align-items-center my-4">
            <span></span>
            <h3>Edit Client</h3>
            <a class="btn btn-sm btn-secondary" th:href="@{/clients}">Back</a>
        </div>
        <form th:action="@{edit(id=${entry.id})}" th:object="${entry}" method="post">
            <div th:replace="~{fragments/forms/client-form :: client-form}"></div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
</body>
</html>