<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head('Clients')}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="container">
    <h3 class="text-center my-4">Clients</h3>
    <a class="btn btn-sm btn-success" th:href="@{/clients/create}">New Client</a>
    <table class="table my-4">
        <tr>
            <th th:replace="~{fragments/table-header :: table-header('clients', 'name', 'Name')}"></th>
            <th></th>
        </tr>
        <tr th:each="entry: ${entries}">
            <td th:text="${entry.name}"></td>
            <td class="text-end pb-2">
                <a class="btn btn-sm btn-primary" th:href="@{/clients(id=${entry.id})}">View</a>
                <a class="btn btn-sm btn-warning" th:href="@{/clients/edit(id=${entry.id})}">Edit</a>
                <a class="btn btn-sm btn-danger" th:href="@{/clients/delete(id=${entry.id})}">Delete</a>
            </td>
        </tr>
    </table>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>