<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" th:with="title='Clients'">
<body>
<section layout:fragment="content">
    <h5 class="mb-2">Clients</h5>
    <a class="btn btn-sm btn-success" th:href="@{/clients/create}">New Client</a>

    <form class="row row-cols-lg-auto g-1 align-items-center my-4" th:object="${filter}" th:action="@{/clients}" method="get">
        <div th:replace="~{fragments/forms/filter-fields :: filter-fields}"></div>
        <div class="col-2">
            <button class="btn btn-sm btn-primary" type="submit">
                <img th:src="@{/img/search.svg}" style="filter:invert(1)" alt="search.svg" title="Search"/>
            </button>
        </div>
    </form>

    <table class="table my-4">
        <tr>
            <th th:replace="~{fragments/table-header :: table-header('clients', 'name', 'Name')}"></th>
            <th style="min-width:140px;"></th>
        </tr>
        <tr th:each="entry: ${entries}">
            <td th:text="${entry.name}"></td>
            <td>
                <div th:replace="~{fragments/table-buttons :: table-buttons(clients)}"></div>
            </td>
        </tr>
    </table>
</section>
</body>
</html>