<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      th:with="title='__#{archive}__'">
<body>
<section layout:fragment="content">
    <h5 th:text="#{tickets.closed}"></h5>

    <form class="row row-cols-lg-auto g-1 align-items-center my-4" th:object="${filter}" th:action="@{archive}" method="get">
        <div class="col" style="min-width:200px;">
            <input id="search" class="form-control" th:field="*{search}" th:placeholder="#{search}">
        </div>
        <div class="d-flex">
            <select id="client" class="form-select input-flush" style="min-width:200px;" th:field="*{clientId}">
                <option value="" th:text="#{clients.all}"></option>
                <option th:each="client: ${clients}" th:value="${client.id}" th:text="${client.name}"></option>
            </select>
            <button class="btn btn-sm btn-primary button-flush">
                <img th:src="@{/img/search.svg}" style="filter:invert(1)" alt="search.svg" th:title="#{Search}"/>
            </button>
        </div>
    </form>

    <div th:replace="~{fragments/ticket-cards :: ticket-cards(${tickets}, 'archive')}"></div>
</section>
</body>
</html>
