<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout(title=Fehler)}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center">
      <h4>Fehler!</h4>
      <a class="btn btn-sm btn-outline-secondary" onclick="history.back()">Zurück</a>
    </div>

  <div class="alert alert-danger d-flex justify-content-between align-items-center">
    <div class="fw-bold">Hoppla! Etwas ist schief gelaufen. <span th:text="${message}"></span></div>
    <svg th:replace="~{fragments/vectors :: sadge}"></svg>
  </div>
  <div class="text-center">
    <a class="btn btn-sm btn-outline-primary" href="/">Home</a>
  </div>
</div>
</body>
</html>