<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" th:with="title='Error'">
<body>
<section layout:fragment="content">
    <h2>Error</h2>
    <div class="alert alert-danger my-4" th:text="${message}"></div>
    <div class="d-flex justify-content-center gap-3">
        <a class="btn btn-outline-primary" onclick="history.back()">Go back</a>
        <a class="btn btn-primary" href="/">Home</a>
    </div>
</section>
</body>
</html>