<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout(title=Home)}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <div sec:authorize="!isAuthenticated()" class="d-flex flex-column gap-3 align-items-center text-center mt-5">
        <h3>Willkommen beim Kauz Ticket Rapport System!</h3>
        <h5>Bitte melden Sie sich an, um auf die App zuzugreifen</h5>
        <a class="btn btn-dark" th:href="@{/login}">Anmelden</a>
        <div class="mt-5 p-3 shadow rounded" style="max-width: 400px;">
            <div class="p-3 shadow rounded">
                <img class="rounded shadow w-100" th:src="@{/img/ticket.png}" alt="ticket.png">
            </div>
        </div>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <div th:replace="~{fragments/layout-elements :: heading('Unzugewiesene Tickets')}"></div>
        <div th:replace="~{fragments/content-elements :: card-grid(tickets=${unassigned}, alertClass='alert-success', alertText='Alle Tickets werden den Lernenden zugewiesen')}"></div>

        <div th:replace="~{fragments/layout-elements :: heading('Offene Tickets')}"></div>
        <div th:replace="~{fragments/content-elements :: card-grid(tickets=${open}, alertClass='alert-info', alertText='Keine Tickets sind aktuell in Bearbeitung')}"></div>

        <div th:replace="~{fragments/layout-elements :: heading('Beendete Tickets')}"></div>
        <div th:replace="~{fragments/content-elements :: card-grid(tickets=${completed}, alertClass='alert-info', alertText='Keine Tickets sind als beendet markiert')}"></div>
    </div>

    <div sec:authorize="hasRole('LEARNER')">
        <div th:replace="~{fragments/layout-elements :: heading('Offene Tickets')}"></div>
        <div th:replace="~{fragments/content-elements :: card-grid(tickets=${open}, alertClass='alert-success', alertText='Keine offene Tickets werden ihnen zugewiesen')}"></div>

        <div th:replace="~{fragments/layout-elements :: heading('Beendete Tickets')}"></div>
        <div th:replace="~{fragments/content-elements :: card-grid(tickets=${completed}, alertClass='alert-info', alertText='Sie haben keine ihre Tickets als beendet markiert')}"></div>

        <div th:replace="~{fragments/layout-elements :: heading('Geschlossene Tickets')}"></div>
        <div th:replace="~{fragments/content-elements :: card-grid(tickets=${closed}, alertClass='alert-info', alertText='Sie haben keine Tickets abgeschlossen')}"></div>
    </div>
</div>
</body>
</html>