<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" th:with="title='Home'">
<body>
<section layout:fragment="content">
    <div th:if="${authUser != null && authUser.isAdmin}">
        <h5 class="mb-4">Unassigned Tickets</h5>
        <div th:replace="~{fragments/ticket-cards :: ticket-cards(${unassigned}, 'home')}"></div>
        <hr class="mt-4">

        <h5 class="my-4">Tickets In Progress</h5>
        <div th:replace="~{fragments/ticket-cards :: ticket-cards(${open}, 'home')}"></div>
        <hr class="mt-4">

        <h5 class="my-4">Completed Tickets</h5>
        <div th:replace="~{fragments/ticket-cards :: ticket-cards(${completed}, 'home')}"></div>
    </div>

    <div th:if="${authUser != null && !authUser.isAdmin}">
        <h5 class="mb-4">Your Tasks</h5>
        <div th:replace="~{fragments/ticket-cards :: ticket-cards(${open}, 'home')}"></div>
        <hr class="mt-4">

        <h5 class="my-4">Completed Tasks</h5>
        <div th:replace="~{fragments/ticket-cards :: ticket-cards(${completed}, 'home')}"></div>
        <hr class="mt-4">

        <h5 class="my-4">Closed Tickets</h5>
        <form class="row row-cols-lg-auto g-1 align-items-center my-4" th:object="${filter}" onkeydown="if(event.keyCode === 13) { getFilteredTickets(); return false; }">
            <div class="col" style="min-width:200px;">
                <input id="search" class="form-control" th:field="*{search}" placeholder="Search">
            </div>
            <div class="col" style="min-width:200px;">
                <select id="client" class="form-select" th:field="*{clientId}">
                    <option value="">All Clients</option>
                    <option th:each="client: ${clients}" th:value="${client.id}" th:text="${client.name}"></option>
                </select>
            </div>
            <div class="col-2">
                <button class="btn btn-sm btn-primary" type="button" th:onclick="getFilteredTickets()">
                    <img th:src="@{/img/search.svg}" style="filter:invert(1)" alt="search.svg" title="Search"/>
                </button>
            </div>
        </form>
        <div id="filtered">
        </div>
    </div>

    <div th:if="${authUser == null}" class="text-center d-flex flex-column gap-4 align-items-center">
        <h3>Welcome to the ticket report system!</h3>
        <img id="welcomeImg" class="img-fluid rounded" th:src="@{/img/minimalist1.jpg}" alt="minimalist1.jpg"/>
        <a class="btn btn-success" th:href="@{/login}">Login</a>
    </div>
</section>
</body>
<style layout:fragment="styles">
    #welcomeImg {
        max-height: 400px;
        content: url("/img/minimalist1.jpg");
    }
    @media only screen and (max-width: 720px)  {
        #welcomeImg {
            content: url("/img/minimalist.jpg");
        }
    }
</style>
<script th:if="${authUser != null && !authUser.isAdmin}" layout:fragment="scripts" th:inline="javascript" >
    // live filter
    async function getFilteredTickets() {
        var search = document.getElementById('search');
        var client = document.getElementById('client');

        await fetch(`filter?search=${search.value}&clientId=${client.value}`).then(function (response) {
            return response.text();
        }).then(function (html) {
            document.getElementById('filtered').innerHTML = html;
        }).catch(function (err) {
            console.warn('Something went wrong.', err);
        });
    }
    getFilteredTickets();
</script>
</html>