<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head('Home')}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="container">
    <div th:if="${authUser.isAdmin}">
        <h5 class="mb-4">Unassigned Tickets</h5>
        <div th:replace="~{fragments/ticket-cards :: ticket-cards(${unassigned}, 'home')}"></div>
        <hr class="mt-4">

        <h5 class="my-4">Tickets In Progress</h5>
        <div th:replace="~{fragments/ticket-cards :: ticket-cards(${open}, 'home')}"></div>
        <hr class="mt-4">

        <h5 class="my-4">Completed Tickets</h5>
        <div th:replace="~{fragments/ticket-cards :: ticket-cards(${completed}, 'home')}"></div>
    </div>

    <div th:if="${!authUser.isAdmin}">
        <h5 class="mb-4">Your Tasks</h5>
        <div th:replace="~{fragments/ticket-cards :: ticket-cards(${open}, 'home')}"></div>
        <hr class="mt-4">

        <h5 class="my-4">Completed Tasks</h5>
        <div th:replace="~{fragments/ticket-cards :: ticket-cards(${completed}, 'home')}"></div>
        <hr class="mt-4">

        <h5 class="my-4">Closed Tickets</h5>
        <form class="my-4" th:object="${filter}" onkeydown="if(event.keyCode === 13) { getFilteredTickets(); return false; }">
            <div class="row align-items-center gap-1">
                <div class="col" style="min-width:200px;">
                    <input id="search" class="form-control" th:field="*{search}" placeholder="Search">
                </div>
                <div class="col" style="min-width:200px;">
                    <select id="client" class="form-select" th:field="*{clientId}">
                        <option value="">All Clients</option>
                        <option th:each="client: ${clients}" th:value="${client.id}" th:text="${client.name}"></option>
                    </select>
                </div>
                <div class="col">
                    <button class="btn btn-sm btn-primary" type="button" th:onclick="getFilteredTickets()">
                        <img th:src="@{/img/search.svg}" style="filter:invert(1)" alt="search.svg" title="Search"/>
                    </button>
                </div>
            </div>
        </form>
        <div id="filtered">
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
<script th:inline="javascript">
    // live filter
    async function getFilteredTickets() {
        var search = document.getElementById('search');
        var client = document.getElementById('client');

        await fetch(`filter?search=${search.value}&clientId=${client.value}`).then(function (response) {
            return response.text();
        }).then(function (html) {
            document.getElementById('filtered').innerHTML = html;
        }).catch(function (err) {
            console.warn('Something went wrong.', err);
        });
    }
    getFilteredTickets();
</script>
</html>