<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head('Logout')}"></head>
<body>
<main class="container text-center m-auto">
    <div class="p-4 border rounded m-auto mb-5"
         style="max-width:450px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);">
        <form class="form" th:action="@{/logout}" method="post">
            <button class="btn btn-primary">Logout</button>
        </form>
    </div>

    <a th:href="@{/}"
       class="d-inline-flex align-items-center text-muted text-decoration-none">
        <img th:src="@{/img/logo.png}" alt="logo.png" Title="Ticket Rapport Logo" style="max-width:100px;"/>
        <h3>Ticket Rapport</h3>
    </a>
</main>
</body>
</html>