<form th:fragment="ticket-filter" class="my-4" th:action="@{filter}" th:object="${filter}" method="get" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col">
            <input class="form-control" th:field="*{search}" placeholder="Search Learners">
        </div>
        <div class="col">
            <select class="form-select" th:field="*{clientId}">
                <option value="">All Clients</option>
                <option th:each="client: ${clients}" th:value="${client.id}" th:text="${client.name}"></option>
            </select>
        </div>
        <div class="col">
            <button class="btn btn-sm btn-primary" type="button">Go</button>
        </div>
    </div>
</form>