<div th:fragment="ticket-form(type)" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="mb-3">
        <label class="form-label" th:for="*{title}">* Title</label>
        <input class="form-control" th:field="*{title}">
        <div th:replace="~{fragments/forms/error-alert :: error-alert('title')}"></div>
    </div>
    <div class="mb-3">
        <label class="form-label" th:for="*{description}">Description</label>
        <input class="form-control" th:field="*{description}">
        <div th:replace="~{fragments/forms/error-alert :: error-alert('description')}"></div>
    </div>
    <div class="mb-3">
        <label class="form-label" th:for="*{assignedUser}">Assigned Learner</label>
        <select class="mb-3 form-select" th:field="*{assignedUser.id}">
            <option value="">Select Learner</option>
            <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.fullName}"></option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" th:for="*{client}">* Client</label>
        <select class="mb-3 form-select" th:field="*{client.id}">
            <option th:if="*{client.id == null || client.id == ''}" value="null">Select Client</option>
            <option th:each="client: ${clients}" th:value="${client.id}" th:text="${client.name}"></option>
        </select>
        <div class="alert alert-warning mt-1" th:if="${#fields.hasErrors('client.id')}">Please select a client</div>
    </div>
    <div class="mb-3" th:classappend="${type == 'create'} ? 'd-none' : ''">
        <label class="form-label" th:for="*{status}">* Status</label>
        <select class="mb-3 form-select" th:field="*{status.id}">
            <option th:each="status: ${statuses}" th:value="${status.id}" th:text="${status.description}"></option>
        </select>
        <div class="alert alert-warning mt-1" th:if="${#fields.hasErrors('status.id')}">Please select a status</div>
    </div>
    <div th:if="${type == 'edit'}">
        <div class="mb-3">
            <label class="form-label" th:for="*{protocol}">Protocol</label>
            <textarea class="form-control" th:field="*{protocol}"></textarea>
            <div th:replace="~{fragments/forms/error-alert :: error-alert('protocol')}"></div>
        </div>
        <div class="mb-3">
            <label class="form-label" th:for="*{solution}">Solution</label>
            <textarea class="form-control" th:field="*{solution}"></textarea>
            <div th:replace="~{fragments/forms/error-alert :: error-alert('solution')}"></div>
        </div>
        <div class="mb-3">
            <label class="form-label">Work Time</label>
            <div class="d-flex gap-2">
                <div>
                    <label class="form-label" th:for="*{workHours}">Hours</label>
                    <input class="form-control" type="number" min="0" max="99" th:field="*{workHours}">
                    <div th:replace="~{fragments/forms/error-alert :: error-alert('workHours')}"></div>
                </div>
                <div>
                    <label class="form-label" th:for="*{workMinutes}">Minutes</label>
                    <input class="form-control" type="number" min="0" max="59" th:field="*{workMinutes}">
                    <div th:replace="~{fragments/forms/error-alert :: error-alert('workMinutes')}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label>Checklist</label>
        <div th:if="${type == 'create'}">
            <div class="mt-2">
                <input class="form-check-input" type="checkbox" th:name="saveTemplate" th:value="saveTemplate">
                <label class="form-label" th:for="saveTemplate">Save checklist as template</label>
                <input class="form-control" type="text" th:name="templateName" placeholder="Template Name">
            </div>
            <div class="d-flex align-items-center my-2 gap-2">
                <select id="templateSelect" class="form-select">
                    <option value="0">Select Template</option>
                    <option th:each="template: ${templates}" th:value="${template.id}" th:text="${template.description}"></option>
                </select>
                <button type="button" class="btn btn-primary btn-sm" th:onclick="generateList()">Generate</button>
            </div>
        </div>
        <div id="checklist">
            <div class="d-flex justify-content-between align-items-center p-1 gap-2" th:each="item: ${entry.checklist}" id="${item.id}">
                <div class="d-flex flex-column">
                    <img style="cursor:pointer" th:src="@{/img/caret-up.svg}" alt="up" title="Up" th:onclick="moveUp(this.parentElement.parentElement)">
                    <img style="cursor:pointer" th:src="@{/img/caret-down.svg}" alt="down" title="Down" th:onclick="moveDown(this.parentElement.parentElement)">
                </div>
                <div class="d-flex gap-2 align-items-center w-100">
                    <input class="form-check-input" th:name="checklistItems" type="checkbox" th:value="${item.id}" th:checked="${item.completed}" th:onchange="updateHiddenInputs()">
                    <input class="form-control" type="text" th:name="list_desc" th:value="${item.description}" th:onkeyup="updateHiddenInputs()">
                </div>
                <button class="btn btn-sm btn-outline-danger" type="button" th:onclick="remove(this.parentElement)">X</button>
            </div>
            <button class="btn btn-sm btn-success mt-2" type="button" th:onclick="add(this.parentElement)">Add Item +</button>
        </div>
        <div class="d-none">
            <input type="hidden" id="hiddenIds" th:name="ids">
            <input type="hidden" id="hiddenCheckboxes" th:name="checkboxes">
            <input type="hidden" id="hiddenDescriptions" th:name="descriptions">
        </div>
    </div>

    <script th:inline="javascript">
        var count = 1;
        const hiddenIds = document.getElementById('hiddenIds');
        const hiddenCheckboxes = document.getElementById('hiddenCheckboxes');
        const hiddenDescriptions = document.getElementById('hiddenDescriptions');

        async function generateList() {
            var select = document.getElementById('templateSelect');
            var templateId = select.value;
            if (templateId == '0') return;

            await fetch(`getTemplate?id=${templateId}`).then(function (response) {
                return response.text();
            }).then(function (html) {
                document.getElementById("checklist").innerHTML = html;
            }).catch(function (err) {
                console.warn('Something went wrong.', err);
            });

            updateHiddenInputs();
        }

        function updateHiddenInputs() {
            var checklistDiv = document.getElementById('checklist');
            var children = checklistDiv.getElementsByTagName('input');

            hiddenIds.value = "";
            hiddenCheckboxes.value = "";
            hiddenDescriptions.value = "";

            for (var i = 0; i < children.length; i++) {
                if (children[i].type == 'text') {
                    hiddenDescriptions.value += children[i].value + " ;;";
                }
                if (children[i].type == 'checkbox') {
                    hiddenIds.value += children[i].value + ";;";
                    hiddenCheckboxes.value += children[i].checked + ";;";
                }
            }
        }
        updateHiddenInputs();

        function add(el) {
            outerDiv = document.createElement('div');
            checkDiv = document.createElement('div');
            caretDiv = document.createElement('div');
            caretUp = document.createElement('img');
            caretDown = document.createElement('img');
            checkInput = document.createElement('input');
            textInput = document.createElement('input');
            button = document.createElement('button');

            outerDiv.classList.add('d-flex', 'justify-content-between', 'align-items-center', 'p-1', 'gap-2');
            caretDiv.classList.add('d-flex', 'flex-column');
            checkDiv.classList.add('d-flex', 'gap-2', 'align-items-center', 'w-100');

            caretUp.src = "/img/caret-up.svg";
            caretUp.style.cursor = "pointer";
            caretUp.addEventListener('click', function() {
               moveUp(this.parentElement.parentElement);
            });
            caretDown.src = "/img/caret-down.svg";
            caretDown.style.cursor = "pointer";
            caretDown.addEventListener('click', function() {
               moveDown(this.parentElement.parentElement);
            });

            checkInput.classList.add('form-check-input');
            checkInput.type = 'checkbox';
            checkInput.name = 'checklistItems';
            checkInput.value = count;
            checkInput.addEventListener('change', function() {
                updateHiddenInputs();
            }, false);

            textInput.classList.add('form-control');
            textInput.type = 'text';
            textInput.name = 'list_desc';
            textInput.placeholder = 'Checklist task description';
            textInput.addEventListener('keyup', function() {
                updateHiddenInputs();
            }, false);

            count++;

            button.classList.add('btn', 'btn-sm', 'btn-outline-danger');
            button.type = 'button';
            button.addEventListener('click', function() {
                remove(this.parentElement);
            }, false);
            button.innerHTML = 'X';

            caretDiv.appendChild(caretUp);
            caretDiv.appendChild(caretDown);
            checkDiv.appendChild(checkInput);
            checkDiv.appendChild(textInput);
            outerDiv.appendChild(caretDiv);
            outerDiv.appendChild(checkDiv);
            outerDiv.appendChild(button);
            el.insertBefore(outerDiv, el.lastElementChild);

            updateHiddenInputs();
        }

        function remove(el) {
            el.parentElement.removeChild(el);
            updateHiddenInputs();
        }

        function moveUp(el) {
            var index = Array.prototype.indexOf.call(el.parentElement.children, el);
            if (index == 0) return;
            el.parentElement.insertBefore(el, el.parentElement.children[index-1]);
            updateHiddenInputs();
        }

        function moveDown(el) {
            var index = Array.prototype.indexOf.call(el.parentElement.children, el);
            if (index == el.parentElement.children.length-2) return;
            el.parentElement.insertBefore(el, el.parentElement.children[index+2]);
            updateHiddenInputs();
        }
    </script>
</div>

