<div th:fragment="user-form" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="mb-3">
        <label class="form-label" th:for="*{firstname}">Firstname</label>
        <input class="form-control" th:field="*{firstname}">
    </div>
    <div class="mb-3">
        <label class="form-label" th:for="*{lastname}">Lastname</label>
        <input class="form-control" th:field="*{lastname}">
    </div>
    <div class="mb-3">
        <label class="form-label" th:for="*{email}">Email</label>
        <input class="form-control" th:field="*{email}">
    </div>
    <div class="mb-3">
        <label class="form-label" th:for="*{role}">Role</label>
        <select class="mb-3 form-select" th:field="*{role.id}">
            <option th:if="*{role.id == null || role.id == ''}" value="null">Select Role</option>
            <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.description}"></option>
        </select>
    </div>
</div>
