<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout(title='Elementvorlagen')}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap justify-content-between align-items-center">
        <h4>Elementvorlagen</h4>
        <a class="btn btn-sm btn-outline-primary" th:href="@{/checklists}">Checklistevorlagen</a>
    </div>
    <hr class="mt-2 mb-4">

    <form id="filter-form" class="row row-cols-lg-auto g-2 my-3" th:object="${filter}" method="get">
        <input type="hidden" th:field="*{sort}">
        <input type="hidden" th:field="*{asc}">
        <div class="col d-flex">
            <input class="form-control inline-field svelte-r filter-input" th:field="*{search}" placeholder="Suche...">
            <button class="btn btn-sm btn-outline-primary svelte-l" type="submit">
                <svg th:replace="~{fragments/vectors :: search}"></svg>
            </button>
        </div>
        <div class="col d-flex filter-clear">
            <button type="button" class="btn btn-sm btn-outline-secondary" style="min-width:150px;" onclick="clear_form()">
                Filter löschen
                <svg th:replace="~{fragments/vectors :: cross}"></svg>
            </button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table responsive-sm table-hover">
            <thead>
            <tr>
                <th th:replace="~{fragments/table-elements :: sortable-header(url='/checklists/items', sort='description', text='Beschreibung', class='w-75')}"></th>
                <th th:replace="~{fragments/table-elements :: sortable-header(url='/checklists/items', sort='checklists', text='Anzahl Checklisten', class='w-25')}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr></tr>
            <tr th:each="entry: ${entries}">
                <td class="description wrap-cell" th:text="${entry.description}"></td>
                <td class="checklists" th:text="${entry.getChecklistCount()}"></td>
                <td>
                    <div th:replace="~{fragments/table-elements :: links('/checklists/items', ${entry.id})}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${entries.isEmpty()}" class="alert alert-info">Es wurde keine Elementvorlagen gefunden</div>

    <div th:replace="~{fragments/content-elements :: pagination('/checklists/items')}"></div>
</div>
<th:block layout:fragment="scripts">
    <script th:src="@{/js/filter.js}"></script>
</th:block>
</body>
<style layout:fragment="styles">
    @media only screen and (max-width: 767px) {
        .description {
            padding-bottom: 5px;
            font-weight: bold;
        }
        .checklists::before {
            content: "Anzahl Checklisten: ";
        }
    }
</style>
</html>