<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout(title='Checklistevorlage Erstellung')}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <th:block th:replace="~{fragments/layout-elements :: heading(title='Checklistevorlage erstellen', backBtn=true)}"></th:block>

    <div class="form-wrapper">
        <form th:object="${entry}" th:action="@{create(returnValue=${returnValue + 1})}" method="post" onkeydown="if(event.keyCode === 13) return false;">
            <div th:replace="~{fragments/form-elements :: input-field(field=title, label='* Titel', required=true, maxLength=50)}"></div>

            <div class="mb-3" th:object="${selectedItems}">
                <label class="form-label" th:for="description-input">Elementen</label>
                <div th:replace="~{fragments/form-elements :: multiselect(${items}, *{itemCount})}"></div>
            </div>

            <div th:replace="~{fragments/form-elements :: button-submit}"></div>
        </form>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script th:src="@{/js/multiselect.js}"></script>
</th:block>
</body>
</html>