<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout(title='Checklistevorlage Löschung')}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <th:block th:replace="~{fragments/layout-elements :: heading(title='Checklistevorlage löschen', backBtn=true)}"></th:block>
    <table class="table table-hover table-bordered table-details table-light">
        <tr th:replace="~{fragments/table-elements :: details-row('Titel', ${entry.title})}"></tr>
    </table>

    <div class="mb-3">
        <h5>Elementen</h5>
        <div class="list-group">
            <th:block th:each="item, info: ${entry.items}">
                <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                    <div class="d-flex gap-1">
                        <span th:text="${info.index+1} + ' ' + ${item.item.description}"></span>
                    </div>
                    <span class="badge text-bg-primary rounded-pill" th:text="${#lists.size(item.item.checklists)}"></span>
                </div>
            </th:block>
        </div>
        <div th:if="${entry.items.isEmpty()}" class="alert alert-warning">Es gibt keine Checklistelementen</div>
    </div>

    <form th:object="${entry}" th:action="@{delete(id=*{id})}" method="post">
        <input type="hidden" name="redirectValue" th:value="${redirectValue}">
        <div th:replace="~{fragments/form-elements :: button-delete}"></div>
    </form>
</div>
</body>
</html>