<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head('Checklist Templates')}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="container">
    <div class="d-flex justify-content-between flex-wrap align-items-start gap-2 mb-2">
        <h5>Checklist Templates</h5>
        <a class="btn btn-sm btn-primary" th:href="@{/checklists/items}">Item Templates</a>
    </div>
    <a class="btn btn-sm btn-success" th:href="@{/checklists/create}">New Checklist Template</a>

    <form class="row row-cols-lg-auto g-1 align-items-center my-4" th:object="${filter}" th:action="@{/checklists}" method="get">
        <div th:replace="~{fragments/forms/filter-fields :: filter-fields}"></div>
        <div class="col-2">
            <button class="btn btn-sm btn-primary" type="submit">
                <img th:src="@{/img/search.svg}" style="filter:invert(1)" alt="search.svg" title="Search"/>
            </button>
        </div>
    </form>

    <table class="table responsive my-4">
        <tr>
            <th th:replace="~{fragments/table-header :: table-header('checklists', 'description', 'Description')}"></th>
            <th>Items</th>
            <th style="min-width:140px;"></th>
        </tr>
        <tr th:each="entry: ${entries}">
            <td id="description" th:text="${entry.description}"></td>
            <td>
                <li id="items" th:each="item: ${entry.items}" th:text="${item.description}"></li>
            </td>
            <td>
                <div th:replace="~{fragments/table-buttons :: table-buttons(checklists)}"></div>
            </td>
        </tr>
    </table>

    <div th:replace="~{fragments/pagination :: pagination(checklists)}"></div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

<style media="screen and (max-width: 720px)">
    #description{
        font-weight: bold;
        font-size: large;
        text-align: center;

    }
</style>
</html>