<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout(title=Checklistevorlagen)}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap justify-content-between align-items-center">
        <h4>Checklistevorlagen</h4>
        <a class="btn btn-sm btn-outline-primary" th:href="@{/checklists/items}">Elementvorlagen</a>
    </div>
    <hr class="mt-2 mb-4">

    <a class="btn btn-sm btn-outline-success" th:href="@{/checklists/create}">
        <svg th:replace="~{fragments/vectors :: plus}"></svg>
        Hinzufügen
    </a>

    <form id="filter-form" class="row row-cols-lg-auto g-2 my-3" th:object="${filter}" method="get">
        <input type="hidden" th:field="*{sort}">
        <input type="hidden" th:field="*{asc}">
        <div class="col d-flex">
            <input class="form-control inline-field svelte-r filter-input" th:field="*{search}" placeholder="Suche...">
            <button class="btn btn-sm btn-outline-primary svelte-l" type="submit">
                <svg th:replace="~{fragments/vectors :: search}"></svg>
            </button>
        </div>
        <div class="col d-flex filter-clear">
            <button type="button" class="btn btn-sm btn-outline-secondary" style="min-width:150px;" onclick="clear_form()">
                Filter löschen
                <svg th:replace="~{fragments/vectors :: cross}"></svg>
            </button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table responsive table-hover">
            <thead>
            <tr>
                <th th:replace="~{fragments/table-elements :: sortable-header('/checklists', 'title', 'Titel')}"></th>
                <th style="min-width:66%">Elementen</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr></tr>
            <tr th:each="entry: ${entries}">
                <td class="title wrap-cell" th:text="${entry.title}"></td>

                <td class="text-start bg-light p-0">
                    <div th:unless="${entry.items.isEmpty()}" class="d-flex justify-content-between gap-3 p-2" th:with="len=${#lists.size(entry.items)}">
                        <div class="wrap-cell">
                            <ol class="mb-0">
                                <li th:each="i: ${#numbers.sequence(0, T(java.lang.Math).min(len-1, 2))}" th:text="${entry.items[i].item.description}"></li>
                            </ol>
                            <div th:if="${len > 3}" class="collapse" th:id="${entry.id}">
                                <ol start="4" class="mb-0">
                                    <li th:each="i: ${#numbers.sequence(3, len-1)}" th:text="${entry.items[i].item.description}"></li>
                                </ol>
                            </div>
                        </div>
                        <a th:if="${len > 3}" th:href="'#' + ${entry.id}" class="collapse-btn text-decoration-none" data-bs-toggle="collapse" role="button" aria-expanded="false">
                            <div id="up">
                                <svg th:replace="~{fragments/vectors :: chevron-up}"></svg>
                            </div>
                            <div id="down">
                                <svg th:replace="~{fragments/vectors :: chevron-down}"></svg>
                            </div>
                        </a>
                    </div>
                </td>

                <td>
                    <div th:replace="~{fragments/table-elements :: links('/checklists', ${entry.id})}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${entries.isEmpty()}" class="alert alert-info">Es wurde keine Checklistevorlagen gefunden</div>

    <div th:replace="~{fragments/content-elements :: pagination('/checklists')}"></div>
</div>
<th:block layout:fragment="scripts">
    <script th:src="@{/js/filter.js}"></script>
</th:block>
</body>
<style layout:fragment="styles">
    #up, #down {
    display: none;
    }
    .collapse-btn[aria-expanded="false"] > #down {
    display: block !important;
    }
    .collapse-btn[aria-expanded="true"] > #up {
    display: block !important;
    }

    @media only screen and (max-width: 767px) {
        .title {
            font-weight: bold;
            font-size: large;
            text-align: center;
            padding-bottom: 5px;
        }
    }
</style>
</html>