<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" th:with="title='Checklist Templates', controller='checklists'">
<body>
<section layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap align-items-start gap-2 mb-2">
        <h5>Checklist Templates</h5>
        <a class="btn btn-sm btn-primary" th:href="@{/checklists/items}">Item Templates</a>
    </div>
    <a class="btn btn-sm btn-success" th:href="@{/checklists/create}">New Checklist Template</a>

    <form class="row row-cols-lg-auto g-1 align-items-center my-4" th:object="${filter}" th:action="@{/checklists}" method="get">
        <div th:replace="~{fragments/forms/filter-fields :: filter-fields}"></div>
        <div class="d-flex ps-0">
            <input class="form-control input-flush" style="min-width:200px;" th:field="*{search}" placeholder="Search">
            <button class="btn btn-sm btn-primary button-flush" type="submit">
                <img th:src="@{/img/search.svg}" style="filter:invert(1)" alt="search.svg" title="Search"/>
            </button>
        </div>
    </form>

    <table class="table responsive my-4">
        <tr>
            <th th:replace="~{fragments/table-header :: table-header('checklists', 'description', 'Description')}"></th>
            <th class="w-50">Items</th>
            <th style="min-width:140px;"></th>
        </tr>
        <tr th:each="entry: ${entries}">
            <td id="description" th:text="${entry.description}"></td>
            <td>
                <div class="d-flex justify-content-between gap-3 border rounded p-2"
                     th:classappend="${entry.items.size == 0 ? 'd-none' : ''}"
                     style="background:#f5f5f5">
                    <div>
                        <li th:if="${entry.items.size > 0}"
                            th:each="i: ${#numbers.sequence(0, T(java.lang.Math).min(entry.items.size -1, 2))}"
                            th:text="${entry.items[i].description}">
                        </li>
                        <div class="collapse" th:if="${entry.items.size > 3}" th:id="'items-list-' + ${entry.id}">
                            <li th:each="i: ${#numbers.sequence(3, entry.items.size -1)}" th:text="${entry.items[i].description}"></li>
                        </div>
                    </div>
                    <a th:if="${entry.items.size > 3}" class="collapse-btn text-decoration-none"
                       data-bs-toggle="collapse" th:href="'#items-list-' + ${entry.id}"
                       role="button" aria-expanded="false" aria-controls="collapseExample">
                    </a>
                </div>
            </td>
            <td>
                <div th:replace="~{fragments/table-buttons :: table-buttons(checklists)}"></div>
            </td>
        </tr>
    </table>
</section>
</body>
<style layout:fragment="styles">
    .collapse-btn[aria-expanded="false"]:before {
        content:"More";
    }
    .collapse-btn[aria-expanded="true"]:before {
        content:"Less";
    }
    @media only screen and (max-width: 720px) {
         #description{
            font-weight: bold;
            font-size: large;
            text-align: center;
        }
    }
</style>
</html>